*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: black;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
}

.header {
  background-color: #67AEFC;
  min-height: 95px;
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 18px 0;
}
.header__btn {
  width: 170px;
  height: 38px;
  padding: 10px 42px;
  align-items: center;
  background-color: #75E169;
  border: 2px solid #75E169;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
}
.header__btn:hover {
  transition: all .5s;
  border: 2px solid #fff;
}
.header__btn:active {
  background-color: #fff;
  border: 2px solid #fff;
  color: #67AEFC;
}

.logo {
  width: 242px;
  height: 59px;
  margin-right: 307px;
}

.menu {
  margin-right: 30px;
}
.menu__list {
  width: 420px;
  padding: 0;
}
.menu__item {
  display: inline-block;
  margin-right: 32px;
}
.menu__item-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}

.menu__item:last-of-type {
  margin-right: 0;
}

.first__screen {
  margin-top: 82px;
  margin-bottom: 41px;
  background-image: url(../images/first-screen-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 643px;
}
.first__screen-inner--title {
  padding-top: 89px;
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  max-width: 838px;
}
.first__screen-inner--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 432px;
  padding-bottom: 58px;
}
.first__screen-btn {
  max-width: 270px;
  width: 100%;
  height: 60px;
  background: #75E169;
  border-radius: 5px;
  font-size: 15px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #75E169;
  padding: 23px 92px;
}
.first__screen-btn:hover {
  border-color: #67AEFC;
  transition: all .5s;
}
.first__screen-btn:active {
  border-color: #67AEFC;
  background-color: #67AEFC;
  color: #fff;
}
