*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: black;
}

a {
  text-decoration: none;
  color: #fff;
}

form {
  display: grid;
  justify-items: center;
}

input {
  max-width: 470px;
  width: 100%;
  height: 58px;
  background-color: #fff;
  border: 1px solid #6EB1FB;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 14px;
}
input:focus {
  border: 2px solid #67AEFC;
}

ul {
  padding: 0;
}

footer {
  background-color: #64ABF9;
  color: #fff;
}

.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
}

.header {
  background-color: #67AEFC;
  height: 95px;
  width: 100%;
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 18px 0;
}
.header__btn {
  width: 170px;
  height: 38px;
  padding: 10px 42px;
  align-items: center;
  background-color: #75E169;
  border: 2px solid #75E169;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
}
.header__btn:hover {
  transition: all .5s;
  border: 2px solid #fff;
}
.header__btn:active {
  background-color: #fff;
  border: 2px solid #fff;
  color: #67AEFC;
}

.logo {
  width: 242px;
  height: 59px;
  margin-right: 307px;
}

.menu {
  margin-right: 30px;
}
.menu__list {
  width: 420px;
  padding: 0;
}
.menu__item {
  display: inline-block;
  margin-right: 32px;
}
.menu__item-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}

.menu__item:last-of-type {
  margin-right: 0;
}

.hamburger {
  display: none;
  margin-left: 158px;
  margin-bottom: 16px;
  z-index: 100;
  top: 15px;
  right: 20px;
  padding: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.hamburger-menu__list {
  display: none;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(103, 174, 252, 0.95);
  color: white;
  list-style: none;
  padding-top: 4rem;
  color: #fff;
  width: 377px;
  height: 328px;
}

.showMenu {
  transform: translateY(0);
}

.first__screen {
  margin-top: 82px;
  margin-bottom: 41px;
  background-image: url(../images/first-screen-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  height: 643px;
}
.first__screen-inner--title {
  padding-top: 89px;
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  max-width: 838px;
}
.first__screen-inner--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 432px;
  padding-bottom: 58px;
}
.first__screen-btn {
  max-width: 270px;
  width: 100%;
  height: 60px;
  background: #75E169;
  border-radius: 5px;
  font-size: 15px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #75E169;
  padding: 23px 92px;
}
.first__screen-btn:hover {
  border-color: #67AEFC;
  transition: all .5s;
}
.first__screen-btn:active {
  border-color: #67AEFC;
  background-color: #67AEFC;
  color: #fff;
}

.second__screen {
  position: relative;
  background-color: #DAECFF;
}
.second__screen-inner {
  padding-top: 120px;
  padding-bottom: 50px;
  max-width: 1194px;
}

.accordion {
  padding-bottom: 120px;
}

/* accordion-1 */
#accordion-1 {
  position: relative;
  margin-bottom: 10px;
}

.accordion__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #111;
}

.active h5 {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
}

#accordion-1 .head {
  background: #fff;
  border-radius: 15px;
  color: #111;
  padding-left: 44px;
  padding-right: 39px;
  height: 61px;
  margin: 0;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title::before {
  content: "";
  background-image: url(../images/green.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

.active .accordion__title::before {
  content: "";
  background-image: url(../images/active.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

#accordion-1 .accordion__img {
  color: #563e6e;
  font-size: 60px;
  transition: 0.25s ease;
  transform: rotate(0deg);
}

#accordion-1 .active {
  background: #fff;
  border-radius: 15px 15px 0 0;
}

#accordion-1 .accordion__img-animate {
  transform: rotate(180deg);
}

#accordion-1 .content {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  padding: 20px 70px 54px 55px;
  color: #111;
}

.content p {
  border-left: 1px solid #000;
  padding-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #000;
}

/* accordion-2 */
#accordion-2 {
  position: relative;
  margin-bottom: 10px;
}

#accordion-2 .head {
  background: #fff;
  border-radius: 15px;
  color: #111;
  padding-left: 44px;
  padding-right: 39px;
  height: 61px;
  margin: 0;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title::before {
  content: "";
  background-image: url(../images/green.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

.active .accordion__title::before {
  content: "";
  background-image: url(../images/active.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

#accordion-2 .accordion__img {
  color: #563e6e;
  font-size: 60px;
  transition: 0.25s ease;
  transform: rotate(0deg);
}

#accordion-2 .active {
  background: #fff;
  border-radius: 15px 15px 0 0;
}

#accordion-2 .accordion__img-animate {
  transform: rotate(180deg);
}

#accordion-2 .content {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  padding: 20px 70px 54px 55px;
  color: #111;
}

/* accordion-3 */
#accordion-3 {
  position: relative;
  margin-bottom: 10px;
}

#accordion-3 .head {
  background: #fff;
  border-radius: 15px;
  color: #111;
  padding-left: 44px;
  padding-right: 39px;
  height: 61px;
  margin: 0;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title::before {
  content: "";
  background-image: url(../images/green.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

.active .accordion__title::before {
  content: "";
  background-image: url(../images/active.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

#accordion-3 .accordion__img {
  color: #563e6e;
  font-size: 60px;
  transition: 0.25s ease;
  transform: rotate(0deg);
}

#accordion-3 .active {
  background: #fff;
  border-radius: 15px 15px 0 0;
}

#accordion-3 .accordion__img-animate {
  transform: rotate(180deg);
}

#accordion-3 .content {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  padding: 20px 70px 54px 55px;
  color: #111;
}

/* accordion-4 */
#accordion-4 {
  position: relative;
  margin-bottom: 10px;
}

#accordion-4 .head {
  background: #fff;
  border-radius: 15px;
  color: #111;
  padding-left: 44px;
  padding-right: 39px;
  height: 61px;
  margin: 0;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title::before {
  content: "";
  background-image: url(../images/green.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

.active .accordion__title::before {
  content: "";
  background-image: url(../images/active.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

#accordion-4 .accordion__img {
  color: #563e6e;
  font-size: 60px;
  transition: 0.25s ease;
  transform: rotate(0deg);
}

#accordion-4 .active {
  background: #fff;
  border-radius: 15px 15px 0 0;
}

#accordion-4 .accordion__img-animate {
  transform: rotate(180deg);
}

#accordion-4 .content {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  padding: 20px 70px 54px 55px;
  color: #111;
}

/* accordion-5 */
#accordion-5 {
  position: relative;
}

#accordion-5 .head {
  background: #fff;
  border-radius: 15px;
  color: #111;
  padding-left: 44px;
  padding-right: 39px;
  height: 61px;
  margin: 0;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__title::before {
  content: "";
  background-image: url(../images/green.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

.active .accordion__title::before {
  content: "";
  background-image: url(../images/active.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  padding-left: 28px;
}

#accordion-5 .accordion__img {
  color: #563e6e;
  font-size: 60px;
  transition: 0.25s ease;
  transform: rotate(0deg);
}

#accordion-5 .active {
  background: #fff;
  border-radius: 15px 15px 0 0;
}

#accordion-5 .accordion__img-animate {
  transform: rotate(180deg);
}

#accordion-5 .content {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  padding: 20px 70px 54px 55px;
  color: #111;
}

.second__screen-img {
  position: absolute;
  bottom: 92px;
  right: 145px;
}

.develops__inner {
  position: relative;
  padding-top: 123px;
}

.develops__title {
  padding-bottom: 82px;
}

.develops__top-img {
  position: absolute;
  left: -140px;
  top: 129px;
}

.slider__container {
  max-width: 1322px;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.develops .slick-list {
  position: relative;
  margin-bottom: 82px;
}

.container__arrow {
  text-align: center;
}

.slider__arrow {
  margin-right: 30px;
  background: transparent;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  padding: 18px 27px 18px 21px;
}
.slider__arrow:hover {
  background: #67AEFC;
}
.slider__arrow:hover path .stroke {
  color: #fff;
}

.slider__arrow-right {
  padding: 18px 22px 18px 26px;
}

.develops__slider-item.slick-slide {
  display: flex;
  justify-content: space-between;
  max-width: 672px;
  height: 389px;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  margin-left: 25px;
}

.slider__content {
  padding: 85px 19px 51px 70px;
}

.slider__title {
  display: block;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #000000;
}

.slider__text {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  max-width: 300px;
}

.slider__img {
  max-width: 250px;
  height: 100%;
  padding: 76px 33px 63px 0;
}

.develops__bottom-img {
  position: absolute;
  right: -175px;
  bottom: -615px;
  z-index: 10;
}

.example {
  position: relative;
  background-color: #DAECFF;
  margin-top: 272px;
}
.example__inner {
  padding-top: 121px;
}
.example__galery {
  margin-top: 51px;
  grid-gap: 37px 31px;
  padding-bottom: 121px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-1, .item-2,
.item-3, .item-4,
.item-5, .item-6 {
  background-image: url(../images/galery-img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.example-item {
  max-width: 563px;
  height: 447px;
  border-radius: 15px;
}
.example-item:hover {
  background-image: none;
  background-color: #67AEFC;
  transition: background-color .3s;
}

.item-2 {
  background-image: url(../images/galery-img-2.jpg);
}

.item-3 {
  background-image: url(../images/galery-img-3.jpg);
}

.item-4 {
  background-image: url(../images/galery-img-4.jpg);
}

.item-5 {
  background-image: url(../images/galery-img-5.jpg);
}

.item-6 {
  background-image: url(../images/galery-img-6.jpg);
}

.galery__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #FFFFFF;
  text-align: center;
  padding-top: 202px;
  opacity: 0;
}

.galery__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #FFFFFF;
  text-align: center;
  opacity: 0;
}

.example-item:hover .galery__title,
.example-item:hover .galery__text {
  opacity: 1;
}

.example-top__img {
  position: absolute;
  width: 131px;
  height: 190px;
  left: 23px;
  top: 301px;
}

.example-bottom__img {
  position: absolute;
  width: 108px;
  height: 108px;
  bottom: 245px;
  right: 123px;
}

.arrow-container {
  text-align: center;
}

.info {
  position: relative;
}
.info__inner {
  margin-top: 216px;
  display: flex;
  padding-bottom: 180px;
}
.info__inner-title {
  padding-bottom: 53px;
  max-width: 631px;
}
.info__inner-text {
  max-width: 670px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #111111;
  padding-bottom: 45px;
}
.info-buble {
  position: absolute;
  width: 59px;
  height: 58px;
  top: -60px;
  left: 153px;
}
.info__btn {
  padding: 22px 54px;
}
.info-img {
  max-width: 670px;
}
.info-img__content {
  display: none;
}

.talk {
  background-color: #DAECFF;
  position: relative;
}
.talk__inner {
  padding-top: 179px;
  padding-bottom: 128px;
}
.talk__inner-title {
  margin-bottom: 20px;
}
.talk__inner-text {
  max-width: 479px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 27px;
  line-height: 175%;
  color: #111;
}
.talk-phone {
  position: absolute;
  bottom: 174px;
  left: 232px;
}
.talk-img {
  position: absolute;
  top: 289px;
  right: 405px;
}

.mobile-img {
  display: none;
}

.footer__inner {
  padding-top: 101px;
  display: flex;
  justify-content: space-between;
}
.footer__inner-contact {
  margin-right: 107px;
  margin-left: 124px;
}

.logo__footer {
  margin-bottom: 45px;
}

.social__list {
  display: inline-block;
  margin-right: 38px;
  padding-bottom: 121px;
}

.contact-link {
  position: relative;
  margin-left: 10px;
}

.contact-img {
  position: absolute;
  width: 22px;
  height: 23px;
  margin-bottom: 13px;
  left: -30px;
}

.footer__copy {
  text-align: center;
}

@media (max-width: 1730px) {
  .second__screen-img {
    display: none;
  }
}
@media (max-width: 1628px) {
  .develops__bottom-img {
    display: none;
  }

  .example-bottom__img {
    width: 39px;
    height: 39px;
    bottom: -27px;
  }

  .example {
    margin-top: 170px;
  }

  .talk-img {
    display: none;
  }
}
@media (max-width: 1560px) {
  .info-img {
    max-width: 550px;
  }
}
@media (max-width: 1490px) {
  .example-top__img {
    display: none;
  }

  .talk-phone {
    display: none;
  }
}
@media (max-width: 1290px) {
  .info-img {
    max-width: 455px;
  }
}
@media (max-width: 1275px) {
  .slider__content {
    padding: 37px 19px 25px 30px;
  }

  .example {
    margin-top: 100px;
  }
}
@media (max-width: 1250px) {
  .footer__inner {
    justify-content: space-evenly;
  }
}
@media (max-width: 1230px) {
  .info__inner {
    margin-top: 45px;
    padding-bottom: 80px;
  }
  .info__inner-title {
    padding-bottom: 53px;
  }
  .info-buble {
    display: none;
  }

  .talk__inner {
    padding-top: 85px;
    padding-bottom: 42px;
  }
}
@media (max-width: 1200px) {
  .logo {
    margin-right: 150px;
  }

  .first__screen {
    background-image: url(../images/first-screen-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
  }

  .slider__title {
    margin-bottom: 10px;
  }

  .slider__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
  }

  .develops__title {
    padding-bottom: 42px;
  }

  .develops__inner {
    padding-top: 42px;
  }
}
@media (max-width: 1050px) {
  .header__btn {
    display: none;
  }

  .logo {
    margin-right: 10px;
  }

  .info__inner {
    justify-content: center;
  }
  .info__inner-content {
    text-align: center;
  }
  .info__inner-title {
    padding-bottom: 0px;
    margin: 0 auto;
  }
  .info-img {
    display: none;
  }
  .info-img__content {
    display: block;
  }

  .mobile-img {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
  }

  .footer__inner {
    padding-top: 45px;
  }
  .footer__inner-contact {
    margin: 0 auto;
  }

  .social__list {
    padding-bottom: 40px;
  }
}
@media (max-width: 930px) {
  .slider__img {
    width: 220px;
    height: 231px;
  }

  .slider__title {
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
  }
}
@media (max-width: 886px) {
  .example__galery {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media (max-width: 885px) {
  .example__inner {
    padding-top: 23px;
  }
  .example__galery {
    margin-top: 15px;
    padding-bottom: 50px;
    max-width: 800px;
    width: 100%;
    grid-template-columns: 1fr;
  }
  .example-item {
    margin-bottom: 15px;
  }

  .galery__title {
    padding-top: 185px;
  }

  .talk__inner {
    padding-top: 42px;
  }
}
@media (max-width: 785px) {
  .slider__container {
    max-width: 700px;
  }

  .slider__img {
    width: 250px;
    height: 100%;
  }

  .slider__title {
    margin-bottom: 21px;
  }

  .slider__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    text-align: left;
  }

  .example {
    margin-top: 45px;
  }

  .info-img__content {
    width: 350px;
    height: 250px;
    margin: 0 auto;
  }

  .footer__inner {
    display: block;
    text-align: center;
  }

  .social {
    margin-top: -25px;
    margin-bottom: -45px;
  }

  .footer__copy {
    margin-top: 15px;
  }
}
@media (max-width: 750px) {
  .first__screen {
    background-image: url(../images/first-screen-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 750px;
    margin-top: 40px;
  }
  .first__screen-inner {
    padding-top: 155px;
    text-align: center;
  }
  .first__screen-inner--title {
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
  }
  .first__screen-inner--text {
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 685px) {
  .header {
    height: 49px;
  }
  .header__inner {
    padding: 9px 0 5px 0;
  }

  .logo {
    width: 136px;
    height: 35px;
    margin-right: 10px;
  }
  .logo-img {
    width: 136px;
    height: 35px;
  }

  .menu {
    display: none;
  }

  .hamburger {
    display: inline-block;
    width: 49px;
    height: 13px;
    bottom: 16px;
  }
  .hamburger-menu__list {
    display: inline-block;
    width: 100%;
    height: 328px;
    z-index: 99;
  }
  .hamburger-menu__item {
    text-align: center;
    padding-bottom: 43px;
  }
  .hamburger-menu__item-link {
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
  }
  .hamburger-menu__item-link:hover {
    transition: all 0.5s;
    border-bottom: 2px solid #FFFFFF;
  }

  .second__screen {
    margin-top: -40px;
  }
  .second__screen-inner {
    padding-top: 16px;
    padding-bottom: 17px;
  }
}
@media (max-width: 555px) {
  .develops__slider-item .slick-slide {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 672px;
    height: 615px;
    border-radius: 15px;
    margin-left: 25px;
  }

  .slider__img {
    padding: 8px 33px 63px 0;
  }
}
@media (max-width: 550px) {
  .first__screen {
    margin-top: 28px;
    background-image: url(../images/first-screen-bg-tel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 524px;
    height: 330px;
  }
  .first__screen-inner {
    padding-top: 270px;
  }

  .second__screen {
    margin-top: 404px;
  }
  .second__screen-inner {
    padding-top: 16px;
    padding-bottom: 17px;
  }

  .accordion {
    padding-bottom: 30px;
  }

  .accordion__title {
    font-size: 17px;
    line-height: 175%;
    width: 233px;
  }

  .develops__slider-item.slick-slide {
    width: 403px;
    display: block;
    height: 100%;
    text-align: center;
    margin: 0 20px;
    height: 615px;
  }

  .slider__img {
    max-width: 220px;
    width: 100%;
    height: 230px;
    margin-left: 83px;
    align-items: center;
  }

  .example-item {
    max-width: 335px;
    width: 100%;
    height: 260px;
  }

  .galery__title {
    padding-top: 113px;
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
  }

  .galery__text {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .first__screen {
    background-image: url(../images/first-screen-bg-tel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 524px;
    height: 330px;
    margin: 0;
  }
  .first__screen-inner {
    text-align: center;
    padding-top: 275px;
  }
  .first__screen-inner--title {
    padding-top: 50px;
  }
  .first__screen-inner--text {
    padding-bottom: 34px;
  }
  .first__screen-btn {
    max-width: 335px;
  }

  .second__screen {
    margin-top: 384px;
  }
  .second__screen-inner {
    padding-top: 16px;
    padding-bottom: 17px;
  }
  .second__screen-title {
    font-size: 23px;
    line-height: 150%;
  }
  .second__screen .content p {
    padding-left: 57px;
  }
  .second__screen .develops__title {
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
    padding-bottom: 30px;
  }

  .slider__title {
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
    text-transform: uppercase;
  }

  .slider__img {
    margin-left: 50px;
  }

  .develops__top-img {
    left: -30px;
    top: 20px;
    width: 39px;
    height: 39px;
  }

  .arrow-container .slider__arrow-left,
  .container__arrow .slider__arrow-left {
    margin-right: 107px;
  }

  .info__inner-text {
    font-size: 17px;
    line-height: 175%;
  }
  .info-img__content {
    width: 260px;
    height: 182px;
    margin: 0 auto;
  }

  .social__list {
    margin-right: 15px;
  }
}
