@media (max-width: 1730px) {
    .second__screen-img{
        display: none;
    }
}

@media (max-width: 1628px) {
    .develops__bottom-img{
        display: none;
    }
    .slider__arrow-left{
        left: 36vw;
    }
    .slider__arrow-right{
        left: 43vw;
    }
}

@media (max-width: 1415px) {
    .slider__arrow-left{
        left: 42vw;
    }
    .slider__arrow-right{
        left: 49vw;
    }
}

@media (max-width: 1385px){
    .slider__arrow-left{
        left: 44vw;
    }
    .slider__arrow-right{
        left: 51vw;
    }
}

@media (max-width: 1275px)  {
    .slider__content{
        padding: 37px 19px 25px 30px;
    }
}

@media (max-width: 1200px) {
    .logo{
        margin-right: 150px;
    }   
    .first__screen{
        background-image: url(../images/first-screen-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1200px;
    }
    .slider__title{
        margin-bottom: 10px;
    }
    .slider__text{
        font-weight: 400;
        font-size: 17px;
        line-height: 120%;
    }
    .develops__title{
        padding-bottom: 42px;
    }
    .develops__inner{
        padding-top: 42px;
    }
    .slider__arrow-left{
        left: 42vw;
    }
    .slider__arrow-right{
        left: 49vw;
    }
}

@media (max-width: 1050px) {
    .header__btn{
        display: none;
    }
    .logo{
        margin-right: 10px;
    }   
}

@media (max-width: 930px) {
    .slider__img{
        width: 220px;
        height: 231px;
    }
    .slider__title{
        font-weight: 800;
        font-size: 23px;
        line-height: 150%;
        text-align: center;
    }
    .slider__arrow-left{
        left: 37vw;
    }
    .slider__arrow-right{
        left: 56vw;
    }
}

@media (max-width: 785px) {
    .slider__container{
        max-width: 700px;
    }
    .slider__img{
        width: 250px;
        height: 100%;
    }
    .slider__title{
        margin-bottom: 21px;
    }
    .slider__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
    }
}



@media (max-width: 750px){
    .first__screen{
        background-image: url(../images/first-screen-bg.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 750px;
        margin-top: 40px;
        &-inner{
            padding-top: 155px;
            text-align: center;
        }
        &-inner--title{
            text-align: center;
            font-weight: 800;
            font-size: 27px;
            line-height: 120%;
            text-transform: uppercase;
            color: #000000;
        }
        &-inner--text{
            text-align: center;
            margin: 0 auto;
        }
    }
    .slider__arrow{
        bottom: -21%;
    }
    
}

@media (max-width: 685px) {
    .header{
        height: 49px;
        &__inner{
            padding: 9px 0 5px 0;
        }
    }
    .logo{
        width: 136px;
        height: 35px;
        margin-right: 10px;
        &-img{
            width: 136px;
            height: 35px;
        }
    }  
    .menu{
        display: none;
    }
    .hamburger{
        display: inline-block;
        width: 49px;
        height: 13px;
        bottom: 16px;
        &-menu__list{
            display: inline-block;
            width: 100%;
            height: 328px;
            z-index: 99;
        }
        &-menu__item{
            text-align: center;
            padding-bottom: 43px;
        }
        &-menu__item-link{
            font-weight: 800;
            font-size: 17px;
            line-height: 27px;
            text-transform: uppercase;
            color: #FFFFFF;
            border-bottom: 2px solid transparent;
            &:hover{
                transition: all 0.5s;
                border-bottom: 2px solid #FFFFFF;
            }
        }
    }

    .second__screen{
        margin-top: -40px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
    }
}

@media (max-width: 555px){
    .slick-initialized .slick-slide{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        max-width: 672px;
        height: 615px;
        border: 2px solid #67AEFC;
        border-radius: 15px;
        margin-left: 25px;
    }
    .slider__img{
        padding: 8px 33px 63px 0;
    }
}

@media (max-width: 550px){
    .first__screen{
        margin-top: 28px;
            background-image: url(../images/first-screen-bg-tel.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 524px;
            height: 330px;
        &-inner{
            padding-top: 270px; 
            
        }
    }
    .second__screen{
        margin-top: 404px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
    }
      
    .accordion{
        padding-bottom: 30px;
    }


    .accordion__title{
        font-size: 17px;
        line-height: 175%;
        width: 233px;
    }
    .slider__arrow-left{
        left: 27vw;
    }
    .slider__arrow-right{
        left: 64vw;
    }
    .slider__arrow{
        bottom: -15%;
    }
}

@media (max-width: 400px){
    .first__screen{
        margin-top: 28px;
            background-image: url(../images/first-screen-bg-tel.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 524px;
            height: 330px;
        &-inner{
            padding-top: 275px; 
        }
        &-inner--text{
            padding-bottom: 20px;
        }
        &-btn{
            max-width: 360px;
        }
    }
    .second__screen{
        margin-top: 384px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
    }
    .develops__top-img{
        left: -30px;
        top: 20px;
        width: 39px;
        height: 39px;
    }
}