@media (max-width: 1730px) {
    .second__screen-img{
        display: none;
    }
}

@media (max-width: 1200px) {
    .logo{
        margin-right: 150px;
    }   
    .first__screen{
        background-image: url(../images/first-screen-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1200px;
        &-inner{
            
        }
    }
}

@media (max-width: 1050px) {
    .header__btn{
        display: none;
    }
    .logo{
        margin-right: 10px;
    }   
}

@media (max-width: 750px){
    .first__screen{
        background-image: url(../images/first-screen-bg.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 750px;
        margin-top: 40px;
        &-inner{
            padding-top: 155px;
            text-align: center;
        }
        &-inner--title{
            text-align: center;
            font-weight: 800;
            font-size: 27px;
            line-height: 120%;
            text-transform: uppercase;
            color: #000000;
        }
        &-inner--text{
            text-align: center;
            margin: 0 auto;
        }
}
}

@media (max-width: 685px) {
    .header{
        height: 49px;
        &__inner{
            padding: 9px 0 5px 0;
        }
    }
    .logo{
        width: 136px;
        height: 35px;
        margin-right: 10px;
        &-img{
            width: 136px;
            height: 35px;
        }
    }  
    .menu{
        display: none;
    }
    .hamburger{
        display: inline-block;
        width: 49px;
        height: 13px;
        bottom: 16px;
        &-menu__list{
            display: inline-block;
            width: 100%;
            height: 328px;
            z-index: 99;
        }
        &-menu__item{
            text-align: center;
            padding-bottom: 43px;
        }
        &-menu__item-link{
            font-weight: 800;
            font-size: 17px;
            line-height: 27px;
            text-transform: uppercase;
            color: #FFFFFF;
            border-bottom: 2px solid transparent;
            &:hover{
                transition: all 0.5s;
                border-bottom: 2px solid #FFFFFF;
            }
        }
    }

    .second__screen{
        margin-top: -40px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
    }
}

@media (max-width: 550px){
    .first__screen{
        margin-top: 28px;
            background-image: url(../images/first-screen-bg-tel.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 524px;
            height: 330px;
        &-inner{
            padding-top: 270px; 
            
        }
    }

    .second__screen{
        margin-top: 404px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
    }

    .accordion{
        padding-bottom: 30px;
    }


    .accordion__title{
        font-size: 17px;
        line-height: 175%;
        width: 233px;
    }
}

@media (max-width: 400px){
    .first__screen{
        margin-top: 28px;
            background-image: url(../images/first-screen-bg-tel.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 524px;
            height: 330px;
        &-inner{
            padding-top: 275px; 
        }
        &-inner--text{
            padding-bottom: 20px;
        }
        &-btn{
            max-width: 360px;
        }
    }
    .second__screen{
        margin-top: 384px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
    }
}