@media (max-width: 1730px) {
    .second__screen-img{
        display: none;
    }
}

@media (max-width: 1628px) {
    .develops__bottom-img{
        display: none;
    }
    .example-bottom__img{
        width: 39px;
        height: 39px;
        bottom: -27px;
    }
    .example{
        margin-top: 170px;
    }
    .talk-img{
        display: none;
    }
}

@media(max-width: 1560px){
    .info-img{
        max-width: 550px;
    }
}

@media(max-width: 1490px){
    .example-top__img{
        display: none;
    }
    .talk-phone{
        display: none;
    }
}

@media (max-width: 1415px) {
}

@media (max-width: 1290px){
    .info-img{
        max-width: 455px;
    }
}

@media (max-width: 1275px)  {
    .slider__content{
        padding: 37px 19px 25px 30px;
    }
    .example{
        margin-top: 100px;
    }
}

@media (max-width: 1250px){
    .footer__inner{
        justify-content: space-evenly;
    }
}

@media(max-width: 1230px){
    .info{
        &__inner{
            margin-top: 45px;
            padding-bottom: 80px;
        &-title{
            padding-bottom: 53px;
        }
        }
        &-buble{
            display: none;
        }
    }
    .talk__inner{
        padding-top: 85px;
        padding-bottom: 42px
    }
}

@media (max-width: 1200px) {
    .logo{
        margin-right: 150px;
    }   
    .first__screen{
        background-image: url(../images/first-screen-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1200px;
    }
    .slider__title{
        margin-bottom: 10px;
    }
    .slider__text{
        font-weight: 400;
        font-size: 17px;
        line-height: 120%;
    }
    .develops__title{
        padding-bottom: 42px;
    }
    .develops__inner{
        padding-top: 42px;
    }
}

@media (max-width: 1050px) {
    .header__btn{
        display: none;
    }
    .logo{
        margin-right: 10px;
    }
    .info{
        &__inner{
        justify-content: center;
        &-content{
            text-align: center;
        }
        &-title{
            padding-bottom: 0px;
            margin: 0 auto;
        }
        }
        &-img{
            display: none;
            &__content{
                display: block;
            }
        }
    }
    .mobile-img{
        display: block;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    .footer__inner{
        padding-top: 45px;
        &-contact{
            margin: 0 auto;
        }
    }
    .social__list{
        padding-bottom: 40px;
    }
}

@media (max-width: 930px) {
    .slider__img{
        width: 220px;
        height: 231px;
    }
    .slider__title{
        font-weight: 800;
        font-size: 23px;
        line-height: 150%;
        text-align: center;
    }
}

@media (max-width: 886px){
    .example{
        &__galery{
            grid-template-columns: 1fr;
            text-align: center;
        }
    }
}

@media (max-width: 885px){
    .example{
        &__inner{
            padding-top: 23px;
        }
        &__galery{
            margin-top: 15px;
            padding-bottom: 50px;
            max-width: 800px;
            width: 100%;
            grid-template-columns: 1fr;
        }
        &-item{
            margin-bottom: 15px;
        }
    }
    .galery__title{
        padding-top: 185px;
    }

    .talk{
        &__inner{
            padding-top: 42px; 
        }
    }
}
@media (max-width: 785px) {
    .slider__container{
        max-width: 700px;
    }
    .slider__img{
        width: 250px;
        height: 100%;
    }
    .slider__title{
        margin-bottom: 21px;
    }
    .slider__text{
        font-weight: 400;
        font-size: 17px;
        line-height: 175%;
        text-align: left;
    }
    .example{
        margin-top: 45px;
    }
    .info{
    &-img{
        &__content{
            width: 350px;
            height: 250px;
            margin: 0 auto;
        }
        }
    }

    .footer__inner{
        display: block;
        text-align: center;
    }

    .social{
        margin-top: -25px;
        margin-bottom: -45px;
    }
    .footer__copy{
        margin-top: 15px;
    }
}



@media (max-width: 750px){
    .first__screen{
        background-image: url(../images/first-screen-bg.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 750px;
        margin-top: 40px;
        &-inner{
            padding-top: 155px;
            text-align: center;
        }
        &-inner--title{
            text-align: center;
            font-weight: 800;
            font-size: 27px;
            line-height: 120%;
            text-transform: uppercase;
            color: #000000;
        }
        &-inner--text{
            text-align: center;
            margin: 0 auto;
        }
    }  
}

@media (max-width: 685px) {
    .header{
        height: 49px;
        &__inner{
            padding: 9px 0 5px 0;
        }
    }
    .logo{
        width: 136px;
        height: 35px;
        margin-right: 10px;
        &-img{
            width: 136px;
            height: 35px;
        }
    }  
    .menu{
        display: none;
    }
    .hamburger{
        display: inline-block;
        width: 49px;
        height: 13px;
        bottom: 16px;
        &-menu__list{
            display: inline-block;
            width: 100%;
            height: 328px;
            z-index: 99;
        }
        &-menu__item{
            text-align: center;
            padding-bottom: 43px;
        }
        &-menu__item-link{
            font-weight: 800;
            font-size: 17px;
            line-height: 27px;
            text-transform: uppercase;
            color: #FFFFFF;
            border-bottom: 2px solid transparent;
            &:hover{
                transition: all 0.5s;
                border-bottom: 2px solid #FFFFFF;
            }
        }
    }

    .second__screen{
        margin-top: -40px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
    }
}

@media (max-width: 555px){
    .develops__slider-item .slick-slide{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        max-width: 672px;
        height: 615px;
        border-radius: 15px;
        margin-left: 25px;
    }
    .slider__img{
        padding: 8px 33px 63px 0;
    }
}

@media (max-width: 550px){
    .first__screen{
        margin-top: 28px;
            background-image: url(../images/first-screen-bg-tel.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 524px;
            height: 330px;
        &-inner{
            padding-top: 270px; 
            
        }
    }
    .second__screen{
        margin-top: 404px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
    }
      
    .accordion{
        padding-bottom: 30px;
    }


    .accordion__title{
        font-size: 17px;
        line-height: 175%;
        width: 233px;
    }


    .develops__slider-item.slick-slide{
        width: 403px;
        display: block;
        height: 100%;
        text-align: center;
        margin: 0 20px;
        height: 615px;
    }

    .slider__img{
        max-width: 220px;
        width: 100%;
        height: 230px;
        margin-left: 83px;
        align-items: center;
    }
    
    .example-item{
        max-width: 335px;
        width: 100%;
        height: 260px;
    }
    .galery__title{
        padding-top: 113px; 
        font-weight: 800;
        font-size: 17px;
        line-height: 27px;
    } 
    .galery__text{
        font-size: 17px;
    }
}

@media (max-width: 400px){
    .first__screen{
        background-image: url(../images/first-screen-bg-tel.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 524px;
        height: 330px;
        margin: 0;
        &-inner{
            text-align: center;
            padding-top: 275px; 
        }
        &-inner--title{
            padding-top: 50px;
        }
        &-inner--text{
            padding-bottom: 34px;
        }
        &-btn{
            max-width: 335px;
        }       
    }
    .second__screen{
        margin-top: 384px;
        &-inner{
        padding-top: 16px; 
        padding-bottom: 17px;
        }
        &-title{
            font-size: 23px;
            line-height: 150%;
        }

        .content p{
            padding-left: 57px;
        }

        .develops__title{
            font-weight: 800;
            font-size: 23px;
            line-height: 150%;
            padding-bottom: 30px;
        }
    }

    .slider__title {
        font-weight: 800;
        font-size: 17px;
        line-height: 27px;
        text-align: left;
        text-transform: uppercase;
    }

    .slider__img{
        margin-left: 50px;
    }
    
    .develops__top-img{
        left: -30px;
        top: 20px;
        width: 39px;
        height: 39px;
    }
    .arrow-container .slider__arrow-left,
    .container__arrow .slider__arrow-left{
        margin-right: 107px;
    }


   .info{
    &__inner{
        &-text{
            font-size: 17px;
            line-height: 175%;
        }
    }
    &-img{
        &__content{
             width: 260px;
            height: 182px;
            margin: 0 auto;
        }
    }
    }
    .social__list{
        margin-right: 15px;
    }
}